@import"https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap";
:root {
    --bs-body-bg: #121212;
    --bs-body-color: #e0e0e0;
    --bs-primary: #bb86fc;
    --bs-secondary: #03dac6;
    --bs-success: #4caf50;
    --bs-info: #2196f3;
    --bs-warning: #ff9800;
    --bs-danger: #f44336;
    --bs-light: #f1f1f1;
    --bs-dark: #212121;
    --vaporwave: rgba(255, 0, 255, 0.25);

    --bs-navbar-bg: #470c38;
    --bs-navbar-color: #f188d1;
    --bs-navbar-nav-link-color: #fceef7;
    --bs-navbar-nav-link-hover-color: #f188d1;
    --bs-navbar-brand-color-custom: #ed54c4;
    --bs-navbar-brand-color-custom-hover: #e43f9c
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main p{
    margin-bottom: 10px;
}
  

body {
    font-family: MedievalSharp,cursive!important;
    min-height: 100vh;
    /*background: url("../img/bg.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    z-index: 10;
}

select {
    background-color: var(--bs-dark);
}

/*Cartas/cuadrados */
.card-custom {
    background-color: var(--bs-dark);
    border: none;
    border-radius: .5rem;
    transition: transform .3s,box-shadow .3s;
    animation: box-shadow-glow 1.5s ease-in-out infinite alternate;
}
.card-custom .card-body{
    color: var(--bs-body-color);
}

.card-custom:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 12px #00000026
}

.hero {
    padding: 3rem 1.5rem;
    text-align: center;
    background-color: color-mix(in hsl shorter hue, var(--bs-dark) 30%, var(--bs-navbar-bg) 40%);
    border-radius: .5rem;
    margin-bottom: 2rem;
}

/*Animaciones de texto*/
.neon-text {
    color: var(--bs-primary);
    text-shadow: 0 0 5px var(--bs-primary),0 0 10px var(--bs-primary),0 0 15px var(--bs-primary);
    animation: neon-glow 1.5s ease-in-out infinite alternate
}

.neon-border {
    border-color: var(--bs-primary);
    box-shadow: 0 0 5px var(--vaporwave),0 0 10px var(--vaporwave),0 0 15px var(--vaporwave);
    animation: neon-flicker 2s infinite
}

.social-links {
    color: var(--bs-primary);
    margin: 0 .5rem;
    font-size: 1.5rem;
    transition: color .3s,transform .3s
}

.social-links:hover {
    color: var(--bs-secondary);
    transform: scale(1.2)
}

.about-me,.connect-with-me {
    padding: 2rem 1.5rem;
    background-color: var(--bs-dark);
    border-radius: .5rem;
    margin-bottom: 2rem
}


/*Barras de navegación*/
.nav {
    background-color: var(--bs-navbar-bg);
    position: fixed;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--bs-navbar-bg);
}

.nav li {
    display: inline-block;
}
.nav li a {
    color: var(--bs-light);
    display: block;
    padding: 5px 5px;
    text-decoration: none;
}
.nav ul ul {
    position: absolute;
    top: 90%;
    left: 25%;
    display: none;
}
.nav ul ul li {
    display: block;
}

.nav li:hover ul {
    display: block;
}
.nav ul ul li a:hover {
    background-color: var(--bs-navbar-color);
}

.nav-right {
    float: right

}
.nav-left {
    float: left
}

.navbar-brand {
    color: var(--bs-navbar-brand-color-custom)
}

.nav-link:hover {
    color: var(--bs-navbar-nav-link-hover-color)
}

.nav-link:focus {
    box-shadow: none
}


.nav-link {
    color: var(--bs-navbar-nav-link-color);
    border-radius: .85rem;
    font-size: 1rem
}

.nav-pills .nav-link:hover {
    background-color: var(--bs-navbar-brand-color-custom);
    color: var(--bs-btn-primary-hover-color)
}

/*Efectos */
.shadow {
    position: relative
}

.shadow:before,.shadow:after {
    content: "";
    position: absolute;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg,#8711c1,#8711c1,#e43f9c,#e43f9c,#8711c1,#8711c1,#e43f9c,#e43f9c,#8711c1,#8711c1);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 40s linear infinite
}

.shadow:after {
    filter: blur(20px)
}

.btn-pulse {
    background-color: var(--bs-primary);
    color: var(--bs-light);
    font-size: 20px;
    font-style: oblique;
    animation: pulse 2s ease-in-out infinite
}

.btn-pulse:hover {
    background-color: var(--vaporwave);
    color: var(--bs-body-color)
}

.wrapper {
    width: 80%;
    margin: auto;
}

.container {
    width: 60%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 600px;
    height: fit-content;
}
.swiper-slide img {
    width: 100%;
    height: 50vh;
}

.contenido {
    padding-top: 80px;
}

@keyframes neon-glow {
    0% {
        text-shadow: 0 0 5px var(--vaporwave),0 0 10px var(--vaporwave),0 0 15px var(--vaporwave)
    }

    to {
        text-shadow: 0 0 10px var(--vaporwave),0 0 20px var(--vaporwave),0 0 30px var(--vaporwave)
    }
}

@keyframes neon-flicker {
    0%,18%,22%,25%,53%,57%,to {
        opacity: 1
    }

    20%,24%,55% {
        opacity: .4
    }
}

@keyframes box-shadow-glow {
    0% {
        box-shadow: 0 0 5px var(--vaporwave),0 0 10px var(--vaporwave),0 0 15px var(--vaporwave)
    }

    to {
        box-shadow: 0 0 15px var(--vaporwave),0 0 20px var(--vaporwave),0 0 30px var(--vaporwave)
    }
}

@keyframes animate {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 300% 0
    }

    to {
        background-position: 0 0
    }
}

@media (max-width: 768px) {
    .nav-link {
        padding-top:.65rem!important;
        font-size: .8rem
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 var(--bs-body-color)
    }

    70% {
        box-shadow: 0 0 0 10px var(--bs-dark)
    }

    to {
        box-shadow: 0 0 #5865f200
    }
}
